.showandhide {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border: none;
    font-size: 18px;
    outline: none;
}

.showandhide input {
    border-radius: 5px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.showandhide button {
    width: 45px;
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;

}